* {
  box-sizing: border-box;
}

.page-container {
  @apply mx-auto;
  width: 1280px;
}

.page-container li.active {
  background-color: #f4ce14;
  padding: 16px;
}

.page-container li:hover {
  background-color: rgb(75, 94, 87);
  padding: 16px;
}

.btn {
  font-size: large;
  background-color: #f4ce14;
  border-radius: 22px;
  padding: 32px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 200px;
  height: 70px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.description {
  max-width: 250px;
  text-wrap: wrap;
  color: gray;
}
.chef-photo {
  @apply scale-y-[1.59];
  top: 35px;
  height: 280px;
  width: 402px;
  position: relative;
  border-radius: 16px;
  border: 1px solid #000;
}
.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
