* {
  box-sizing: border-box;
}

.main-section {
  background-color: rgb(75, 94, 87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.btn {
  background-color: #f4ce14;
  border-radius: 10px;
  padding: 12px;
}
.description {
  max-width: 250px;
  text-wrap: wrap;
  color: #fff;
}
.chef-photo {
  height: 250px;
  width: 250px;
  position: relative;
  bottom: -25px;
  border-radius: 10px;
  border: 1px solid #000;
}
